# Women's imprisonment rates
## ONS Local Authority to Police Force Area data: Merging datasets

In [4]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
import pandas as pd
import src.utilities as utils

In [35]:
la_pfa = utils.load_data('raw', 'LA_to_PFA_(December_2024)_Lookup_in_EW.csv')
la_pfa

2025-07-01 17:16:26,461 - INFO - Loaded data from data/raw/LA_to_PFA_(December_2024)_Lookup_in_EW.csv

       LAD24CD         LAD24NM    PFA24CD       PFA24NM
0    E07000136          Boston  E23000020  Lincolnshire
1    E07000137    East Lindsey  E23000020  Lincolnshire
2    E07000138         Lincoln  E23000020  Lincolnshire
3    E07000139  North Kesteven  E23000020  Lincolnshire
4    E07000140   South Holland  E23000020  Lincolnshire
..         ...             ...        ...           ...
327  W06000020         Torfaen  W15000002         Gwent
328  W06000021   Monmouthshire  W15000002         Gwent
329  W06000022         Newport  W15000002         Gwent
330  W06000023           Powys  W15000004   Dyfed-Powys
331  W06000024  Merthyr Tydfil  W15000003   South Wales

[332 rows x 4 columns]

In [17]:
df_pop = utils.load_data('interim', 'LA_population_women_2011-2023.csv')
df_pop

2025-07-01 15:41:46,824 - INFO - Loaded data from data/interim/LA_population_women_2011-2023.csv

        ladcode          laname  year   freq
0     E06000001      Hartlepool  2011  37332
1     E06000001      Hartlepool  2012  37470
2     E06000001      Hartlepool  2013  37476
3     E06000001      Hartlepool  2014  37491
4     E06000001      Hartlepool  2015  37524
...         ...             ...   ...    ...
4480  W06000024  Merthyr Tydfil  2019  24168
4481  W06000024  Merthyr Tydfil  2020  24134
4482  W06000024  Merthyr Tydfil  2021  24061
4483  W06000024  Merthyr Tydfil  2022  24056
4484  W06000024  Merthyr Tydfil  2023  23909

[4485 rows x 4 columns]

In [7]:
la_pfa_dict = la_pfa.set_index('LAD24CD')['PFA24NM'].to_dict()
la_pfa_dict

{'E07000136': 'Lincolnshire',
 'E07000137': 'Lincolnshire',
 'E07000138': 'Lincolnshire',
 'E07000139': 'Lincolnshire',
 'E07000140': 'Lincolnshire',
 'E07000141': 'Lincolnshire',
 'E07000142': 'Lincolnshire',
 'E07000143': 'Norfolk',
 'E07000144': 'Norfolk',
 'E07000145': 'Norfolk',
 'E07000146': 'Norfolk',
 'E07000147': 'Norfolk',
 'E07000148': 'Norfolk',
 'E07000149': 'Norfolk',
 'E07000170': 'Nottinghamshire',
 'E07000171': 'Nottinghamshire',
 'E07000172': 'Nottinghamshire',
 'E07000173': 'Nottinghamshire',
 'E07000174': 'Nottinghamshire',
 'E07000175': 'Nottinghamshire',
 'E07000176': 'Nottinghamshire',
 'E07000177': 'Thames Valley',
 'E07000178': 'Thames Valley',
 'E07000179': 'Thames Valley',
 'E07000180': 'Thames Valley',
 'E07000181': 'Thames Valley',
 'E07000192': 'Staffordshire',
 'E07000193': 'Staffordshire',
 'E07000194': 'Staffordshire',
 'E07000195': 'Staffordshire',
 'E07000196': 'Staffordshire',
 'E07000197': 'Staffordshire',
 'E07000198': 'Staffordshire',
 'E07000199': 'Staffordshire',
 'E07000200': 'Suffolk',
 'E07000202': 'Suffolk',
 'E07000203': 'Suffolk',
 'E07000207': 'Surrey',
 'E07000208': 'Surrey',
 'E07000209': 'Surrey',
 'E07000210': 'Surrey',
 'E07000211': 'Surrey',
 'E07000212': 'Surrey',
 'E07000213': 'Surrey',
 'E07000214': 'Surrey',
 'E07000215': 'Surrey',
 'E07000216': 'Surrey',
 'E07000217': 'Surrey',
 'E07000218': 'Warwickshire',
 'E07000219': 'Warwickshire',
 'E07000220': 'Warwickshire',
 'E07000221': 'Warwickshire',
 'E07000222': 'Warwickshire',
 'E07000223': 'Sussex',
 'E07000224': 'Sussex',
 'E07000225': 'Sussex',
 'E06000001': 'Cleveland',
 'E06000002': 'Cleveland',
 'E06000003': 'Cleveland',
 'E06000004': 'Cleveland',
 'E06000005': 'Durham',
 'E06000006': 'Cheshire',
 'E06000007': 'Cheshire',
 'E06000008': 'Lancashire',
 'E06000009': 'Lancashire',
 'E06000010': 'Humberside',
 'E06000011': 'Humberside',
 'E06000012': 'Humberside',
 'E06000013': 'Humberside',
 'E06000014': 'North Yorkshire',
 'E06000015': 'Derbyshire',
 'E06000016': 'Leicestershire',
 'E06000017': 'Leicestershire',
 'E06000018': 'Nottinghamshire',
 'E06000019': 'West Mercia',
 'E06000020': 'West Mercia',
 'E06000021': 'Staffordshire',
 'E06000022': 'Avon and Somerset',
 'E06000023': 'Avon and Somerset',
 'E06000024': 'Avon and Somerset',
 'E06000025': 'Avon and Somerset',
 'E06000026': 'Devon & Cornwall',
 'E06000027': 'Devon & Cornwall',
 'E06000030': 'Wiltshire',
 'E06000031': 'Cambridgeshire',
 'E06000032': 'Bedfordshire',
 'E06000033': 'Essex',
 'E06000034': 'Essex',
 'E06000035': 'Kent',
 'E06000036': 'Thames Valley',
 'E06000037': 'Thames Valley',
 'E06000038': 'Thames Valley',
 'E06000039': 'Thames Valley',
 'E06000040': 'Thames Valley',
 'E06000041': 'Thames Valley',
 'E06000042': 'Thames Valley',
 'E06000043': 'Sussex',
 'E06000044': 'Hampshire',
 'E06000045': 'Hampshire',
 'E06000046': 'Hampshire',
 'E06000047': 'Durham',
 'E06000049': 'Cheshire',
 'E06000050': 'Cheshire',
 'E06000051': 'West Mercia',
 'E06000052': 'Devon & Cornwall',
 'E06000053': 'Devon & Cornwall',
 'E06000054': 'Wiltshire',
 'E06000055': 'Bedfordshire',
 'E06000056': 'Bedfordshire',
 'E06000057': 'Northumbria',
 'E06000058': 'Dorset',
 'E07000076': 'Essex',
 'E07000077': 'Essex',
 'E07000078': 'Gloucestershire',
 'E07000079': 'Gloucestershire',
 'E07000080': 'Gloucestershire',
 'E07000081': 'Gloucestershire',
 'E07000082': 'Gloucestershire',
 'E07000083': 'Gloucestershire',
 'E07000084': 'Hampshire',
 'E07000085': 'Hampshire',
 'E07000086': 'Hampshire',
 'E07000087': 'Hampshire',
 'E07000088': 'Hampshire',
 'E07000089': 'Hampshire',
 'E07000090': 'Hampshire',
 'E07000091': 'Hampshire',
 'E07000092': 'Hampshire',
 'E07000093': 'Hampshire',
 'E07000094': 'Hampshire',
 'E07000095': 'Hertfordshire',
 'E07000096': 'Hertfordshire',
 'E07000098': 'Hertfordshire',
 'E07000099': 'Hertfordshire',
 'E07000102': 'Hertfordshire',
 'E07000103': 'Hertfordshire',
 'E07000105': 'Kent',
 'E07000106': 'Kent',
 'E07000107': 'Kent',
 'E07000108': 'Kent',
 'E07000109': 'Kent',
 'E07000110': 'Kent',
 'E07000111': 'Kent',
 'E07000112': 'Kent',
 'E07000113': 'Kent',
 'E07000114': 'Kent',
 'E07000115': 'Kent',
 'E07000116': 'Kent',
 'E07000117': 'Lancashire',
 'E07000118': 'Lancashire',
 'E07000119': 'Lancashire',
 'E07000120': 'Lancashire',
 'E07000121': 'Lancashire',
 'E07000122': 'Lancashire',
 'E07000123': 'Lancashire',
 'E07000124': 'Lancashire',
 'E07000125': 'Lancashire',
 'E07000126': 'Lancashire',
 'E07000127': 'Lancashire',
 'E07000128': 'Lancashire',
 'E07000129': 'Leicestershire',
 'E07000130': 'Leicestershire',
 'E07000131': 'Leicestershire',
 'E07000132': 'Leicestershire',
 'E07000133': 'Leicestershire',
 'E07000134': 'Leicestershire',
 'E07000135': 'Leicestershire',
 'E06000059': 'Dorset',
 'E06000060': 'Thames Valley',
 'E06000061': 'Northamptonshire',
 'E06000062': 'Northamptonshire',
 'E06000063': 'Cumbria',
 'E06000064': 'Cumbria',
 'E06000065': 'North Yorkshire',
 'E06000066': 'Avon and Somerset',
 'E07000008': 'Cambridgeshire',
 'E07000009': 'Cambridgeshire',
 'E07000010': 'Cambridgeshire',
 'E07000011': 'Cambridgeshire',
 'E07000012': 'Cambridgeshire',
 'E07000032': 'Derbyshire',
 'E07000033': 'Derbyshire',
 'E07000034': 'Derbyshire',
 'E07000035': 'Derbyshire',
 'E07000036': 'Derbyshire',
 'E07000037': 'Derbyshire',
 'E07000038': 'Derbyshire',
 'E07000039': 'Derbyshire',
 'E07000040': 'Devon & Cornwall',
 'E07000041': 'Devon & Cornwall',
 'E07000042': 'Devon & Cornwall',
 'E07000043': 'Devon & Cornwall',
 'E07000044': 'Devon & Cornwall',
 'E07000045': 'Devon & Cornwall',
 'E07000046': 'Devon & Cornwall',
 'E07000047': 'Devon & Cornwall',
 'E07000061': 'Sussex',
 'E07000062': 'Sussex',
 'E07000063': 'Sussex',
 'E07000064': 'Sussex',
 'E07000065': 'Sussex',
 'E07000066': 'Essex',
 'E07000067': 'Essex',
 'E07000068': 'Essex',
 'E07000069': 'Essex',
 'E07000070': 'Essex',
 'E07000071': 'Essex',
 'E07000072': 'Essex',
 'E07000073': 'Essex',
 'E07000074': 'Essex',
 'E07000075': 'Essex',
 'E07000226': 'Sussex',
 'E07000227': 'Sussex',
 'E07000228': 'Sussex',
 'E07000229': 'Sussex',
 'E07000234': 'West Mercia',
 'E07000235': 'West Mercia',
 'E07000236': 'West Mercia',
 'E07000237': 'West Mercia',
 'E07000238': 'West Mercia',
 'E07000239': 'West Mercia',
 'E07000240': 'Hertfordshire',
 'E07000241': 'Hertfordshire',
 'E07000242': 'Hertfordshire',
 'E07000243': 'Hertfordshire',
 'E07000244': 'Suffolk',
 'E07000245': 'Suffolk',
 'E08000001': 'Greater Manchester',
 'E08000002': 'Greater Manchester',
 'E08000003': 'Greater Manchester',
 'E08000004': 'Greater Manchester',
 'E08000005': 'Greater Manchester',
 'E08000006': 'Greater Manchester',
 'E08000007': 'Greater Manchester',
 'E08000008': 'Greater Manchester',
 'E08000009': 'Greater Manchester',
 'E08000010': 'Greater Manchester',
 'E08000011': 'Merseyside',
 'E08000012': 'Merseyside',
 'E08000013': 'Merseyside',
 'E08000014': 'Merseyside',
 'E08000015': 'Merseyside',
 'E08000016': 'South Yorkshire',
 'E08000017': 'South Yorkshire',
 'E08000018': 'South Yorkshire',
 'E08000019': 'South Yorkshire',
 'E08000021': 'Northumbria',
 'E08000022': 'Northumbria',
 'E08000023': 'Northumbria',
 'E08000024': 'Northumbria',
 'E08000025': 'West Midlands',
 'E08000026': 'West Midlands',
 'E08000027': 'West Midlands',
 'E08000028': 'West Midlands',
 'E08000029': 'West Midlands',
 'E08000030': 'West Midlands',
 'E08000031': 'West Midlands',
 'E08000032': 'West Yorkshire',
 'E08000033': 'West Yorkshire',
 'E08000034': 'West Yorkshire',
 'E08000035': 'West Yorkshire',
 'E08000036': 'West Yorkshire',
 'E08000037': 'Northumbria',
 'E09000001': 'London, City of',
 'E09000002': 'Metropolitan Police',
 'E09000003': 'Metropolitan Police',
 'E09000004': 'Metropolitan Police',
 'E09000005': 'Metropolitan Police',
 'E09000006': 'Metropolitan Police',
 'E09000007': 'Metropolitan Police',
 'E09000008': 'Metropolitan Police',
 'E09000009': 'Metropolitan Police',
 'E09000010': 'Metropolitan Police',
 'E09000011': 'Metropolitan Police',
 'E09000012': 'Metropolitan Police',
 'E09000013': 'Metropolitan Police',
 'E09000014': 'Metropolitan Police',
 'E09000015': 'Metropolitan Police',
 'E09000016': 'Metropolitan Police',
 'E09000017': 'Metropolitan Police',
 'E09000018': 'Metropolitan Police',
 'E09000019': 'Metropolitan Police',
 'E09000020': 'Metropolitan Police',
 'E09000021': 'Metropolitan Police',
 'E09000022': 'Metropolitan Police',
 'E09000023': 'Metropolitan Police',
 'E09000024': 'Metropolitan Police',
 'E09000025': 'Metropolitan Police',
 'E09000026': 'Metropolitan Police',
 'E09000027': 'Metropolitan Police',
 'E09000028': 'Metropolitan Police',
 'E09000029': 'Metropolitan Police',
 'E09000030': 'Metropolitan Police',
 'E09000031': 'Metropolitan Police',
 'E09000032': 'Metropolitan Police',
 'E09000033': 'Metropolitan Police',
 'W06000001': 'North Wales',
 'W06000002': 'North Wales',
 'W06000003': 'North Wales',
 'W06000004': 'North Wales',
 'W06000005': 'North Wales',
 'W06000006': 'North Wales',
 'W06000008': 'Dyfed-Powys',
 'W06000009': 'Dyfed-Powys',
 'W06000010': 'Dyfed-Powys',
 'W06000011': 'South Wales',
 'W06000012': 'South Wales',
 'W06000013': 'South Wales',
 'W06000014': 'South Wales',
 'W06000015': 'South Wales',
 'W06000016': 'South Wales',
 'W06000018': 'Gwent',
 'W06000019': 'Gwent',
 'W06000020': 'Gwent',
 'W06000021': 'Gwent',
 'W06000022': 'Gwent',
 'W06000023': 'Dyfed-Powys',
 'W06000024': 'South Wales'}

In [13]:
for k, v in la_pfa_dict.items():
    print(f"{k}: {v}")

E07000136: Lincolnshire
E07000137: Lincolnshire
E07000138: Lincolnshire
E07000139: Lincolnshire
E07000140: Lincolnshire
E07000141: Lincolnshire
E07000142: Lincolnshire
E07000143: Norfolk
E07000144: Norfolk
E07000145: Norfolk
E07000146: Norfolk
E07000147: Norfolk
E07000148: Norfolk
E07000149: Norfolk
E07000170: Nottinghamshire
E07000171: Nottinghamshire
E07000172: Nottinghamshire
E07000173: Nottinghamshire
E07000174: Nottinghamshire
E07000175: Nottinghamshire
E07000176: Nottinghamshire
E07000177: Thames Valley
E07000178: Thames Valley
E07000179: Thames Valley
E07000180: Thames Valley
E07000181: Thames Valley
E07000192: Staffordshire
E07000193: Staffordshire
E07000194: Staffordshire
E07000195: Staffordshire
E07000196: Staffordshire
E07000197: Staffordshire
E07000198: Staffordshire
E07000199: Staffordshire
E07000200: Suffolk
E07000202: Suffolk
E07000203: Suffolk
E07000207: Surrey
E07000208: Surrey
E07000209: Surrey
E07000210: Surrey
E07000211: Surrey
E07000212: Surrey
E07000213: Surrey
E07000214: Surrey
E07000215: Surrey
E07000216: Surrey
E07000217: Surrey
E07000218: Warwickshire
E07000219: Warwickshire
E07000220: Warwickshire
E07000221: Warwickshire
E07000222: Warwickshire
E07000223: Sussex
E07000224: Sussex
E07000225: Sussex
E06000001: Cleveland
E06000002: Cleveland
E06000003: Cleveland
E06000004: Cleveland
E06000005: Durham
E06000006: Cheshire
E06000007: Cheshire
E06000008: Lancashire
E06000009: Lancashire
E06000010: Humberside
E06000011: Humberside
E06000012: Humberside
E06000013: Humberside
E06000014: North Yorkshire
E06000015: Derbyshire
E06000016: Leicestershire
E06000017: Leicestershire
E06000018: Nottinghamshire
E06000019: West Mercia
E06000020: West Mercia
E06000021: Staffordshire
E06000022: Avon and Somerset
E06000023: Avon and Somerset
E06000024: Avon and Somerset
E06000025: Avon and Somerset
E06000026: Devon & Cornwall
E06000027: Devon & Cornwall
E06000030: Wiltshire
E06000031: Cambridgeshire
E06000032: Bedfordshire
E06000033: Essex
E06000034: Essex
E06000035: Kent
E06000036: Thames Valley
E06000037: Thames Valley
E06000038: Thames Valley
E06000039: Thames Valley
E06000040: Thames Valley
E06000041: Thames Valley
E06000042: Thames Valley
E06000043: Sussex
E06000044: Hampshire
E06000045: Hampshire
E06000046: Hampshire
E06000047: Durham
E06000049: Cheshire
E06000050: Cheshire
E06000051: West Mercia
E06000052: Devon & Cornwall
E06000053: Devon & Cornwall
E06000054: Wiltshire
E06000055: Bedfordshire
E06000056: Bedfordshire
E06000057: Northumbria
E06000058: Dorset
E07000076: Essex
E07000077: Essex
E07000078: Gloucestershire
E07000079: Gloucestershire
E07000080: Gloucestershire
E07000081: Gloucestershire
E07000082: Gloucestershire
E07000083: Gloucestershire
E07000084: Hampshire
E07000085: Hampshire
E07000086: Hampshire
E07000087: Hampshire
E07000088: Hampshire
E07000089: Hampshire
E07000090: Hampshire
E07000091: Hampshire
E07000092: Hampshire
E07000093: Hampshire
E07000094: Hampshire
E07000095: Hertfordshire
E07000096: Hertfordshire
E07000098: Hertfordshire
E07000099: Hertfordshire
E07000102: Hertfordshire
E07000103: Hertfordshire
E07000105: Kent
E07000106: Kent
E07000107: Kent
E07000108: Kent
E07000109: Kent
E07000110: Kent
E07000111: Kent
E07000112: Kent
E07000113: Kent
E07000114: Kent
E07000115: Kent
E07000116: Kent
E07000117: Lancashire
E07000118: Lancashire
E07000119: Lancashire
E07000120: Lancashire
E07000121: Lancashire
E07000122: Lancashire
E07000123: Lancashire
E07000124: Lancashire
E07000125: Lancashire
E07000126: Lancashire
E07000127: Lancashire
E07000128: Lancashire
E07000129: Leicestershire
E07000130: Leicestershire
E07000131: Leicestershire
E07000132: Leicestershire
E07000133: Leicestershire
E07000134: Leicestershire
E07000135: Leicestershire
E06000059: Dorset
E06000060: Thames Valley
E06000061: Northamptonshire
E06000062: Northamptonshire
E06000063: Cumbria
E06000064: Cumbria
E06000065: North Yorkshire
E06000066: Avon and Somerset
E07000008: Cambridgeshire
E07000009: Cambridgeshire
E07000010: Cambridgeshire
E07000011: Cambridgeshire
E07000012: Cambridgeshire
E07000032: Derbyshire
E07000033: Derbyshire
E07000034: Derbyshire
E07000035: Derbyshire
E07000036: Derbyshire
E07000037: Derbyshire
E07000038: Derbyshire
E07000039: Derbyshire
E07000040: Devon & Cornwall
E07000041: Devon & Cornwall
E07000042: Devon & Cornwall
E07000043: Devon & Cornwall
E07000044: Devon & Cornwall
E07000045: Devon & Cornwall
E07000046: Devon & Cornwall
E07000047: Devon & Cornwall
E07000061: Sussex
E07000062: Sussex
E07000063: Sussex
E07000064: Sussex
E07000065: Sussex
E07000066: Essex
E07000067: Essex
E07000068: Essex
E07000069: Essex
E07000070: Essex
E07000071: Essex
E07000072: Essex
E07000073: Essex
E07000074: Essex
E07000075: Essex
E07000226: Sussex
E07000227: Sussex
E07000228: Sussex
E07000229: Sussex
E07000234: West Mercia
E07000235: West Mercia
E07000236: West Mercia
E07000237: West Mercia
E07000238: West Mercia
E07000239: West Mercia
E07000240: Hertfordshire
E07000241: Hertfordshire
E07000242: Hertfordshire
E07000243: Hertfordshire
E07000244: Suffolk
E07000245: Suffolk
E08000001: Greater Manchester
E08000002: Greater Manchester
E08000003: Greater Manchester
E08000004: Greater Manchester
E08000005: Greater Manchester
E08000006: Greater Manchester
E08000007: Greater Manchester
E08000008: Greater Manchester
E08000009: Greater Manchester
E08000010: Greater Manchester
E08000011: Merseyside
E08000012: Merseyside
E08000013: Merseyside
E08000014: Merseyside
E08000015: Merseyside
E08000016: South Yorkshire
E08000017: South Yorkshire
E08000018: South Yorkshire
E08000019: South Yorkshire
E08000021: Northumbria
E08000022: Northumbria
E08000023: Northumbria
E08000024: Northumbria
E08000025: West Midlands
E08000026: West Midlands
E08000027: West Midlands
E08000028: West Midlands
E08000029: West Midlands
E08000030: West Midlands
E08000031: West Midlands
E08000032: West Yorkshire
E08000033: West Yorkshire
E08000034: West Yorkshire
E08000035: West Yorkshire
E08000036: West Yorkshire
E08000037: Northumbria
E09000001: London, City of
E09000002: Metropolitan Police
E09000003: Metropolitan Police
E09000004: Metropolitan Police
E09000005: Metropolitan Police
E09000006: Metropolitan Police
E09000007: Metropolitan Police
E09000008: Metropolitan Police
E09000009: Metropolitan Police
E09000010: Metropolitan Police
E09000011: Metropolitan Police
E09000012: Metropolitan Police
E09000013: Metropolitan Police
E09000014: Metropolitan Police
E09000015: Metropolitan Police
E09000016: Metropolitan Police
E09000017: Metropolitan Police
E09000018: Metropolitan Police
E09000019: Metropolitan Police
E09000020: Metropolitan Police
E09000021: Metropolitan Police
E09000022: Metropolitan Police
E09000023: Metropolitan Police
E09000024: Metropolitan Police
E09000025: Metropolitan Police
E09000026: Metropolitan Police
E09000027: Metropolitan Police
E09000028: Metropolitan Police
E09000029: Metropolitan Police
E09000030: Metropolitan Police
E09000031: Metropolitan Police
E09000032: Metropolitan Police
E09000033: Metropolitan Police
W06000001: North Wales
W06000002: North Wales
W06000003: North Wales
W06000004: North Wales
W06000005: North Wales
W06000006: North Wales
W06000008: Dyfed-Powys
W06000009: Dyfed-Powys
W06000010: Dyfed-Powys
W06000011: South Wales
W06000012: South Wales
W06000013: South Wales
W06000014: South Wales
W06000015: South Wales
W06000016: South Wales
W06000018: Gwent
W06000019: Gwent
W06000020: Gwent
W06000021: Gwent
W06000022: Gwent
W06000023: Dyfed-Powys
W06000024: South Wales

In [18]:
df_pop['pfa'] = df_pop['ladcode'].map(la_pfa_dict)
df_pop

        ladcode          laname  year   freq          pfa
0     E06000001      Hartlepool  2011  37332    Cleveland
1     E06000001      Hartlepool  2012  37470    Cleveland
2     E06000001      Hartlepool  2013  37476    Cleveland
3     E06000001      Hartlepool  2014  37491    Cleveland
4     E06000001      Hartlepool  2015  37524    Cleveland
...         ...             ...   ...    ...          ...
4480  W06000024  Merthyr Tydfil  2019  24168  South Wales
4481  W06000024  Merthyr Tydfil  2020  24134  South Wales
4482  W06000024  Merthyr Tydfil  2021  24061  South Wales
4483  W06000024  Merthyr Tydfil  2022  24056  South Wales
4484  W06000024  Merthyr Tydfil  2023  23909  South Wales

[4485 rows x 5 columns]

## Checking for any null values following the merge

In [19]:
df_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4485 entries, 0 to 4484
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ladcode  4485 non-null   object
 1   laname   4485 non-null   object
 2   year     4485 non-null   int64
 3   freq     4485 non-null   int64
 4   pfa      4134 non-null   object
dtypes: int64(2), object(3)
memory usage: 175.3+ KB

In [21]:
df_pop.query('pfa.isna()')['laname'].unique()

array(['Cumbria', 'Derbyshire', 'Devon', 'East Sussex', 'Essex',
       'Gloucestershire', 'Hampshire', 'Hertfordshire', 'Kent',
       'Lancashire', 'Leicestershire', 'Lincolnshire', 'Norfolk',
       'Nottinghamshire', 'Oxfordshire', 'Staffordshire', 'Suffolk',
       'Surrey', 'Warwickshire', 'West Sussex', 'Worcestershire',
       'Greater Manchester (Met County)', 'Merseyside (Met County)',
       'South Yorkshire (Met County)', 'West Midlands (Met County)',
       'West Yorkshire (Met County)', 'Tyne and Wear (Met County)'],
      dtype=object)

It looks as though these are all at a county or metro county level, so perhaps there is some unwanted aggregation of the population values which should have been removed at an earlier step.

In [24]:
sorted(df_pop.query('pfa.isna()')['ladcode'].unique())

['E10000006',
 'E10000007',
 'E10000008',
 'E10000011',
 'E10000012',
 'E10000013',
 'E10000014',
 'E10000015',
 'E10000016',
 'E10000017',
 'E10000018',
 'E10000019',
 'E10000020',
 'E10000024',
 'E10000025',
 'E10000028',
 'E10000029',
 'E10000030',
 'E10000031',
 'E10000032',
 'E10000034',
 'E11000001',
 'E11000002',
 'E11000003',
 'E11000005',
 'E11000006',
 'E11000007']

Let's try dropping these values and seeing what happens

## Dropping NaNs

In [25]:
df_pop.dropna(subset=['pfa'], inplace=True)
df_pop.query('pfa.isna()')['laname'].unique()

array([], dtype=object)

In [26]:
df_pop.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4134 entries, 0 to 4484
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ladcode  4134 non-null   object
 1   laname   4134 non-null   object
 2   year     4134 non-null   int64
 3   freq     4134 non-null   int64
 4   pfa      4134 non-null   object
dtypes: int64(2), object(3)
memory usage: 193.8+ KB

In [28]:
len(df_pop['pfa'].unique())

43

In [29]:
df_pop['pfa'].unique()

array(['Cleveland', 'Durham', 'Cheshire', 'Lancashire', 'Humberside',
       'North Yorkshire', 'Derbyshire', 'Leicestershire',
       'Nottinghamshire', 'West Mercia', 'Staffordshire',
       'Avon and Somerset', 'Devon & Cornwall', 'Wiltshire',
       'Cambridgeshire', 'Bedfordshire', 'Essex', 'Kent', 'Thames Valley',
       'Sussex', 'Hampshire', 'Northumbria', 'Dorset', 'Northamptonshire',
       'Cumbria', 'Gloucestershire', 'Hertfordshire', 'Lincolnshire',
       'Norfolk', 'Suffolk', 'Surrey', 'Warwickshire',
       'Greater Manchester', 'Merseyside', 'South Yorkshire',
       'West Midlands', 'West Yorkshire', 'London, City of',
       'Metropolitan Police', 'North Wales', 'Dyfed-Powys', 'South Wales',
       'Gwent'], dtype=object)

In [30]:
# Drop records where 'pfa' is 'London, City of'
df_pop = df_pop[df_pop['pfa'] != 'London, City of']
df_pop['pfa'].unique()

array(['Cleveland', 'Durham', 'Cheshire', 'Lancashire', 'Humberside',
       'North Yorkshire', 'Derbyshire', 'Leicestershire',
       'Nottinghamshire', 'West Mercia', 'Staffordshire',
       'Avon and Somerset', 'Devon & Cornwall', 'Wiltshire',
       'Cambridgeshire', 'Bedfordshire', 'Essex', 'Kent', 'Thames Valley',
       'Sussex', 'Hampshire', 'Northumbria', 'Dorset', 'Northamptonshire',
       'Cumbria', 'Gloucestershire', 'Hertfordshire', 'Lincolnshire',
       'Norfolk', 'Suffolk', 'Surrey', 'Warwickshire',
       'Greater Manchester', 'Merseyside', 'South Yorkshire',
       'West Midlands', 'West Yorkshire', 'Metropolitan Police',
       'North Wales', 'Dyfed-Powys', 'South Wales', 'Gwent'], dtype=object)

In [31]:
df_pop

        ladcode          laname  year   freq          pfa
0     E06000001      Hartlepool  2011  37332    Cleveland
1     E06000001      Hartlepool  2012  37470    Cleveland
2     E06000001      Hartlepool  2013  37476    Cleveland
3     E06000001      Hartlepool  2014  37491    Cleveland
4     E06000001      Hartlepool  2015  37524    Cleveland
...         ...             ...   ...    ...          ...
4480  W06000024  Merthyr Tydfil  2019  24168  South Wales
4481  W06000024  Merthyr Tydfil  2020  24134  South Wales
4482  W06000024  Merthyr Tydfil  2021  24061  South Wales
4483  W06000024  Merthyr Tydfil  2022  24056  South Wales
4484  W06000024  Merthyr Tydfil  2023  23909  South Wales

[4121 rows x 5 columns]

In [33]:
df_pop.loc[df_pop['pfa'] == 'Devon & Cornwall', 'pfa'] = 'Devon and Cornwall'

In [34]:
df_pop.query('pfa == "Devon and Cornwall"')

        ladcode      laname  year    freq                 pfa
325   E06000026    Plymouth  2011  104610  Devon and Cornwall
326   E06000026    Plymouth  2012  105627  Devon and Cornwall
327   E06000026    Plymouth  2013  106336  Devon and Cornwall
328   E06000026    Plymouth  2014  107300  Devon and Cornwall
329   E06000026    Plymouth  2015  107850  Devon and Cornwall
...         ...         ...   ...     ...                 ...
1087  E07000047  West Devon  2019   23574  Devon and Cornwall
1088  E07000047  West Devon  2020   23864  Devon and Cornwall
1089  E07000047  West Devon  2021   24443  Devon and Cornwall
1090  E07000047  West Devon  2022   24733  Devon and Cornwall
1091  E07000047  West Devon  2023   25044  Devon and Cornwall

[156 rows x 5 columns]

## Building out into a script

In [5]:
from src.data.processing import match_la_to_pfa

In [38]:
df1, df2 = match_la_to_pfa.load_data()

2025-07-01 18:18:35,967 - INFO - Loaded data from data/raw/LA_to_PFA_(December_2024)_Lookup_in_EW.csv
2025-07-01 18:18:36,001 - INFO - Loaded data from data/interim/LA_population_women_2011-2023.csv

In [39]:
df1

       LAD24CD         LAD24NM    PFA24CD       PFA24NM
0    E07000136          Boston  E23000020  Lincolnshire
1    E07000137    East Lindsey  E23000020  Lincolnshire
2    E07000138         Lincoln  E23000020  Lincolnshire
3    E07000139  North Kesteven  E23000020  Lincolnshire
4    E07000140   South Holland  E23000020  Lincolnshire
..         ...             ...        ...           ...
327  W06000020         Torfaen  W15000002         Gwent
328  W06000021   Monmouthshire  W15000002         Gwent
329  W06000022         Newport  W15000002         Gwent
330  W06000023           Powys  W15000004   Dyfed-Powys
331  W06000024  Merthyr Tydfil  W15000003   South Wales

[332 rows x 4 columns]

In [40]:
df2

        ladcode          laname  year   freq
0     E06000001      Hartlepool  2011  37332
1     E06000001      Hartlepool  2012  37470
2     E06000001      Hartlepool  2013  37476
3     E06000001      Hartlepool  2014  37491
4     E06000001      Hartlepool  2015  37524
...         ...             ...   ...    ...
4480  W06000024  Merthyr Tydfil  2019  24168
4481  W06000024  Merthyr Tydfil  2020  24134
4482  W06000024  Merthyr Tydfil  2021  24061
4483  W06000024  Merthyr Tydfil  2022  24056
4484  W06000024  Merthyr Tydfil  2023  23909

[4485 rows x 4 columns]

In [7]:
df, _, _ = match_la_to_pfa.load_and_process_data()
df

2025-07-02 10:24:31,923 - INFO - Loaded data from data/raw/LA_to_PFA_(December_2024)_Lookup_in_EW.csv
2025-07-02 10:24:31,938 - INFO - Loaded data from data/interim/LA_population_women_2011-2023.csv
2025-07-02 10:24:31,941 - INFO - Matching Local Authority Districts to Police Force Areas...
2025-07-02 10:24:31,944 - INFO - Filtering and cleaning population data...
2025-07-02 10:24:31,951 - INFO - Data successfully processed for Local Authority to PFA matching.

        ladcode          laname  year   freq          pfa
0     E06000001      Hartlepool  2011  37332    Cleveland
1     E06000001      Hartlepool  2012  37470    Cleveland
2     E06000001      Hartlepool  2013  37476    Cleveland
3     E06000001      Hartlepool  2014  37491    Cleveland
4     E06000001      Hartlepool  2015  37524    Cleveland
...         ...             ...   ...    ...          ...
4480  W06000024  Merthyr Tydfil  2019  24168  South Wales
4481  W06000024  Merthyr Tydfil  2020  24134  South Wales
4482  W06000024  Merthyr Tydfil  2021  24061  South Wales
4483  W06000024  Merthyr Tydfil  2022  24056  South Wales
4484  W06000024  Merthyr Tydfil  2023  23909  South Wales

[4121 rows x 5 columns]

In [9]:
df.query('laname == "West Northamptonshire"')

       ladcode                 laname  year    freq               pfa
754  E06000062  West Northamptonshire  2011  149219  Northamptonshire
755  E06000062  West Northamptonshire  2012  151329  Northamptonshire
756  E06000062  West Northamptonshire  2013  153342  Northamptonshire
757  E06000062  West Northamptonshire  2014  155649  Northamptonshire
758  E06000062  West Northamptonshire  2015  158256  Northamptonshire
759  E06000062  West Northamptonshire  2016  161110  Northamptonshire
760  E06000062  West Northamptonshire  2017  163657  Northamptonshire
761  E06000062  West Northamptonshire  2018  166034  Northamptonshire
762  E06000062  West Northamptonshire  2019  168182  Northamptonshire
763  E06000062  West Northamptonshire  2020  168520  Northamptonshire
764  E06000062  West Northamptonshire  2021  170409  Northamptonshire
765  E06000062  West Northamptonshire  2022  171215  Northamptonshire
766  E06000062  West Northamptonshire  2023  173288  Northamptonshire

In [3]:
match_la_to_pfa.main()

2025-07-02 10:05:30,023 - INFO - Loaded data from data/raw/LA_to_PFA_(December_2024)_Lookup_in_EW.csv

2025-07-02 10:05:30,040 - INFO - Loaded data from data/interim/LA_population_women_2011-2023.csv
2025-07-02 10:05:30,043 - INFO - Matching Local Authority Districts to Police Force Areas...
2025-07-02 10:05:30,047 - INFO - Filtering and cleaning population data...
2025-07-02 10:05:30,055 - INFO - Data successfully processed for Local Authority to PFA matching.
2025-07-02 10:05:30,056 - INFO - Saving...
2025-07-02 10:05:30,075 - INFO - Data successfully saved to data/interim/LA_PFA_population_women_2011-2023.csv