# Women's imprisonment rates
## Criminal Justice Statistics Police Force Area: Custodial, community and suspended sentences

#### Importing pandas library and reading in data

In [15]:
import pandas as pd
df = pd.read_csv('../data/interim/PFA_2009-21_women_cust_comm_sus.csv')

In [16]:
df.head()

,year,pfa,sex,age_group,offence,outcome,sentence_len,freq
0,2009,Avon and Somerset,Female,Young adults,Violence against the person,Community sentence,NaN,2
1,2009,Avon and Somerset,Female,Young adults,Violence against the person,Suspended sentence,NaN,1
2,2009,Avon and Somerset,Female,Young adults,Violence against the person,Suspended sentence,NaN,1
3,2009,Avon and Somerset,Female,Young adults,Public order offences,Community sentence,NaN,1
4,2009,Avon and Somerset,Female,Young adults,Miscellaneous crimes against society,Community sentence,NaN,1

In [4]:
df.drop(columns="sentence_len", inplace=True)
df.head()

,year,pfa,sex,age_group,offence,outcome,freq
0,2009,Avon and Somerset,Female,Young adults,Violence against the person,Community sentence,2
1,2009,Avon and Somerset,Female,Young adults,Violence against the person,Suspended sentence,1
2,2009,Avon and Somerset,Female,Young adults,Violence against the person,Suspended sentence,1
3,2009,Avon and Somerset,Female,Young adults,Public order offences,Community sentence,1
4,2009,Avon and Somerset,Female,Young adults,Miscellaneous crimes against society,Community sentence,1

### Grouping

In [17]:
df2 = df.groupby(['pfa', 'year', 'outcome'], as_index=False)['freq'].sum()
df2

                    pfa  year             outcome  freq
0     Avon and Somerset  2009  Community sentence   592
1     Avon and Somerset  2009   Immediate custody   165
2     Avon and Somerset  2009  Suspended sentence   158
3     Avon and Somerset  2010  Community sentence   618
4     Avon and Somerset  2010   Immediate custody   173
...                 ...   ...                 ...   ...
1633          Wiltshire  2020   Immediate custody    34
1634          Wiltshire  2020  Suspended sentence    31
1635          Wiltshire  2021  Community sentence   142
1636          Wiltshire  2021   Immediate custody    33
1637          Wiltshire  2021  Suspended sentence    44

[1638 rows x 4 columns]

#### Checking data before 2020

In [12]:
df2.query('pfa == "Derbyshire" & outcome == "Immediate custody"')

            pfa  year            outcome  freq
235  Derbyshire  2009  Immediate custody   120
238  Derbyshire  2010  Immediate custody   131
241  Derbyshire  2011  Immediate custody   150
244  Derbyshire  2012  Immediate custody   119
247  Derbyshire  2013  Immediate custody   123
250  Derbyshire  2014  Immediate custody   171
253  Derbyshire  2015  Immediate custody   179
256  Derbyshire  2016  Immediate custody   176
259  Derbyshire  2017  Immediate custody   174
262  Derbyshire  2018  Immediate custody   178
265  Derbyshire  2019  Immediate custody   123
268  Derbyshire  2020  Immediate custody   130
271  Derbyshire  2021  Immediate custody   126

In [11]:
df2.query('pfa == "Cambridgeshire" & outcome == "Suspended sentence"')

                pfa  year             outcome  freq
80   Cambridgeshire  2009  Suspended sentence   100
83   Cambridgeshire  2010  Suspended sentence    96
86   Cambridgeshire  2011  Suspended sentence   105
89   Cambridgeshire  2012  Suspended sentence    99
92   Cambridgeshire  2013  Suspended sentence    95
95   Cambridgeshire  2014  Suspended sentence   114
98   Cambridgeshire  2015  Suspended sentence   104
101  Cambridgeshire  2016  Suspended sentence   107
104  Cambridgeshire  2017  Suspended sentence   108
107  Cambridgeshire  2018  Suspended sentence    96
110  Cambridgeshire  2019  Suspended sentence    83
113  Cambridgeshire  2020  Suspended sentence    68
116  Cambridgeshire  2021  Suspended sentence    77

#### Outputting to CSV

In [14]:
df2.to_csv('../data/processed/PFA_2009-21_women_cust_comm_sus_FINAL.csv', index=False)